---
import Layout from "../../layouts/Layout.astro";
import { fDate } from "developer-toolkit-utils";
import { getCollection } from "astro:content";
import createExcerpt from "../../utils/createExcerpt";
import RecentPosts from "../../components/Blog/recentPosts.astro";

import CreateShareLinks from "../../utils/CreateShareLinks";

const $posts = await getCollection("blog");

const posts = $posts.sort((a, b) => {
  return (
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
});

function fTime(date: Date) {
  const hours = date.getHours();
  const minutes = date.getMinutes();
  const ampm = hours >= 12 ? "pm" : "am";
  const fHours = hours % 12;
  const fMinutes = minutes < 10 ? `0${minutes}` : minutes;
  return `${fHours}:${fMinutes} ${ampm}`;
}

---

<Layout title="Yami • Blog" description="Read withervt's blog posts!">
  <section class="blog-area">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-items">
            {
              posts.map((post) => (
                <div class="blog-item" data-aos="zoom-in">
                  <div class="img-box">
                    <img src={`https://storage.hylia.dev/${post.data.image}`} alt={post.data.title} title={post.data.title} loading="lazy" style="border-radius: 10px;" />
                  </div>
                  <div class="content">
                    <span class="meta">
                      {fDate(new Date(post.data.pubDate))} at {fTime(new Date(post.data.pubDate))}
                    </span>
                    <h1>
                      <a href={`/blog/${post.slug}`}>
                        {post.data.title}
                      </a>
                    </h1>
                    <p>
                      {createExcerpt(post.data.excerpt)}
                    </p>
                    <a href={`/blog/${post.slug}`} class="theme-btn">
                      Read More
                    </a>
                  </div>
                </div>
                ))
            }
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-sidebar">
            <div class="blog-sidebar-inner">
              <RecentPosts />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
