<!DOCTYPE html>
<html lang="en">

<head>
    <!--Useful meta tags-->
    <meta name="robots" content="index, follow, noodp" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="notranslate" />
    <meta charset="UTF-8" />
    <meta name="description" content="<%= owner.username %> is a Software Developer and is only 16!
Click to find out more!">
<meta property="og:title" content="<%= owner.username %>">
    <meta property="og:description" content="<%= owner.username %> is a Software Developer and is only 16!
Click to find out more!">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/<%= owner.id %>/<%= owner.avatar %>.gif?size=1024">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--Preloader JS-->
    <script type="text/javascript" src="./assets/js/preloader.js"></script>
    <!--Preloader Style-->
    <link rel="stylesheet" href="./assets/css/preload.css">
    <!--Bootstrap Stylesheet-->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" as="style"
        onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Magnific Popup Stylesheet-->
    <link rel="stylesheet" href="./assets/css/magnific-popup.css" as="style"
        onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--OWL Carousel Stylesheet-->
    <link rel="stylesheet" href="./assets/css/owl.carousel.min.css" as="style"
        onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Font Awesome Stylesheet-->
    <link rel="stylesheet" href="./assets/css/all.min.css" as="style"
        onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Mobirise-->
    <link rel="stylesheet" href="./assets/css/mobirise/style.css" as="style"
        onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--AOC-->
    <link rel="stylesheet" href="./assets/css/aos.css" as="style"
        onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Main Stylesheet-->
    <link rel="stylesheet" href="./assets/css/main.css" as="style"
        onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Responsive Stylesheet-->
    <link rel="stylesheet" href="./assets/css/responsive.css" as="style"
        onload="this.rel='stylesheet';this.removeAttribute('onload');">
    <!--Theme Stylesheet-->
    <link rel="stylesheet" href="./assets/css/dark.theme.css" id="optional-theme" />
    <!--Theme Color-->
    <link rel="stylesheet" href="./assets/css/default.css" id="optional-color" />
    <!--MAIN TITLE-->
    <title>Akeno Dev :: Home</title>


</head>

<body data-spy="scroll" data-target=".scrollspy" data-offset="85">
    <!--PRELOADER START-->
    <div id="preloader">
        <div class="text-center w-100">
            <div class="loader"></div>
        </div>
    </div>
    <!--PRELOADER END-->
    <!--HEADER START-->
    <header class="navigation horizontal_header transparentOnScroll navbar navbar-expand-lg fixed-top">
        <div class="header-ins">
            <div class="container">
                <!--LOGO AREA-->
                <div class="site-logo">
                    <a href="#" class="hoveroff" title="kevin">
                        <!--<img src="./assets/images/kevin.png" alt="kevin">-->
                        Akeno<span>Dev</span>
                    </a>
                </div>
                <button class="button-toggler navbar-toggler collapsed" type="button" data-target="#navigation"
                    data-toggle="collapse" aria-controls="navigation" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!--Main Navigation START-->
                <ul class="justify-content-end scrollspy collapse navbar-collapse" id="navigation">
                    <li>
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li>
                        <a href="#service" class="nav-link">Services</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li>
                        <a href="#resume" class="nav-link">Resume</a>
                    </li>

                    <li>
                        <a href="https://cafe.akenodev.xyz/invite" class="nav-link">Discord Server</a>
                    </li>
                </ul>
                <!--Main Navigation END-->

            </div>
        </div>

    </header>
    <!--HEADER END-->

    <main class="content center-main">
        <!--INTRODUCTION SECTION START-->
        <section class="home d-flex" id="home">
            <!--Parallax Background-->
            <div class="background-parallax" id="parallaxbackground">
                <div class="element1 element red" data-depth="0.8"></div>
                <div class="element2 element green" data-depth="0.5"></div>
                <div class="element3 element blue" data-depth="0.2"></div>
                <div class="element4 element red" data-depth="0.4"></div>
                <div class="element5 element orange" data-depth="0.3"></div>
                <div class="element6 element blue" data-depth="0.2"></div>
            </div>
            <!--End of Parallax Background-->
            <div class="container introduction text-center">
                <p class="welcome_text mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">I'm a
                    <span class="welcome-text-type"
                        data-options="<%= aboutMe %> "></span>
                </p>
                <div id="parallax-scene" class="mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                    <div class="heading-zone">
                        <h1>
                            <%= owner.username %>
                        </h1>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="450">
                    <a href="#about" class="btn  btn-primary btn-small">Learn More</a>
                </div>
            </div>
        </section>
        <!--INTRODUCTION SECTION END-->


        <!--ABOUT SECTION START-->
        <section class="about" id="about">
            <div class="container d-flex justify-content-between flex-column h-100">
                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2 data-aos="heading-show" class="rect_heading">Who Am I</h2>
                                <p class="m-0">Get to know me</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-content flex-grow-1">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6">
                            <div class="avatar-area m-auto"
                            style="width: 450; height: 450;  border-radius: 50%;">
                            
                                <% if (owner.avatar.includes("a_")) { %>
                                    <img src="https://cdn.discordapp.com/avatars/<%= owner.id %>/<%= owner.avatar %>.gif?size=1024"
                                        width="400" height="550" alt="" class="img-fluid mx-auto">
                                    <% } %>
                                        <% if (!owner.avatar.includes("a_")) { %>
                                            <img src="https://cdn.discordapp.com/avatars/<%= owner.id %>/<%= owner.avatar %>.png?size=1024"
                                                width="400" height="550" alt="" class="img-fluid mx-auto">
                                            <% } %>
                            </div>
                        </div>
                        <div class="col-md-6 mt-5 mt-md-0">
                            <h3 class="m-0">I'm <%= owner.username %> 👋</h3>
                            <p class="my-4">
                                <%= bio %>
                            </p>
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                    <div class="about-info mb-2">
                                        <span class="desc">📛 Name:</span>
                                        <span>Hayden (<%= owner.username %>) </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-info mb-2">
                                        <span class="desc">🔺Age:</span>
                                        <span>16 Years Old</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-info mb-2">
                                        <span class="desc">📍Location:</span>
                                        <span>
                                            <%= location %>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-info mb-2">
                                        <span class="desc">🗣️ Languages:</span>
                                        <span>
                                            <%= languages %>
                                        </span>
                                    </div>
                                </div>
                               
                                <div class="col-lg-6">
                                    <div class="about-info mb-2">
                                        <span class="desc">💼 Looking for Jobs:</span>
                                        <% if (isHireable===true) { %>
                                            <span><a href="https://github.com/akenolol" class="__cf_email__"
                                                    data-cfemail="93f8f6e5fafdfefafffff6e1d3f8fff1bdf0fcfe">Yes</a></span>
                                            <% } %>
                                                <% if (isHireable===false) { %>
                                                    <span><a href="https://github.com/akenolol" class="__cf_email__"
                                                            data-cfemail="93f8f6e5fafdfefafffff6e1d3f8fff1bdf0fcfe">No</a></span>
                                                    <% } %>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-info mb-2">
                                        <span class="desc">🖥️ Company:</span>
                                        <span><a href="https://github.com/<%= companyReal %>">
                                                <%= company %>
                                            </a></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-info mb-2">
                                        <i class="fa-brands fa-discord"></i>
                                        <span class="desc"> Discord Server: </span>
                                        <span><a href="<%= supportServer %> ">
                                                discord.gg/
                                            </a></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-info mb-2">
                                        <i class="fa-brands fa-twitter"></i>
                                        <span class="desc"> Twitter:</span>
                                        <span><a href="<%= socials.twitter %>">@akeno_dev</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--ABOUT SECTION END-->

        <!--FACTS SECTION START-->
        <div class="section facts backgound-section"
            style="background-image: url(https://cdn.discordapp.com/attachments/981632133191843852/1025131890832834591/unknown.png)"
            data-aos-id="facts">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                        <div class="fact-single text-center">
                            <div class="fact-icon">
                                <span class="mbri-timer"></span>
                            </div>
                            <div class="fact-info">
                                <span class="tmcounter" data-from="0" data-to="<%= followers %> " data-speed="1500">
                                    <%= followers %>
                                </span>+
                            </div>
                            <div class="fact-meta">
                                <span>Followers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                        <div class="fact-single text-center">
                            <div class="fact-icon">
                                <span class="mbri-smile-face"></span>
                            </div>
                            <div class="fact-info">
                                <span class="tmcounter" data-from="0" data-to="<%= repos %>" data-speed="1500">
                                    <%= repos %>
                                </span>+
                            </div>
                            <div class="fact-meta">
                                <span>Repos</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                        <div class="fact-single text-center">
                            <div class="fact-icon">
                                <span class="mbri-magic-stick"></span>
                            </div>
                            <div class="fact-info">
                                <span class="tmcounter" data-from="0" data-to="50" data-speed="1500">50</span>
                            </div>
                            <div class="fact-meta">
                                <span>Projects Done</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                        <div class="fact-single text-center">
                            <div class="fact-icon">
                                <span class="mbri-save"></span>
                            </div>
                            <div class="fact-info">
                                <span class="tmcounter" data-from="0" data-to="60" data-speed="1500">60</span>
                            </div>
                            <div class="fact-meta">
                                <span>Discord / Telegram Bots Completed</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--FACTS SECTION END-->

        <!--SERVICES SECTION START-->
        <section class="services" id="service">
            <div class="container d-flex flex-column justify-content-between h-100 ">

                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2 data-aos="heading-show" class="rect_heading">What I Do</h2>
                                <p class="m-0">Here is what i do!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mt-4 mb-2">
                            <div class="service-single text-center p-5">
                                <div class="service-icon">
                                    <i class="fa-solid fa-code-branch"></i>
                                </div>
                                <h3 class="my-3">Development</h3>
                                <p>I Create <strong>GAMES</strong>, <strong>APPS</strong>, <strong>WEBSITES</strong>,
                                    and <strong>BOTS</strong>.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mb-2">
                            <div class="service-single text-center p-5">
                                <div class="service-icon">
                                    <i class="fa-solid fa-shield"></i>
                                </div>
                                <h3 class="my-3">Responsive</h3>
                                <p>I Create Quick, Easy, and Amazing Projects.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mb-2">
                            <div class="service-single text-center p-5">
                                <div class="service-icon">
                                    <i class="fa-solid fa-robot"></i>
                                </div>
                                <h3 class="my-3">Bot Development</h3>
                                <p>In My Spare Time I also create <a href="https://discord.com">Discord</a> Bots!</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!--SERVICE SECTION START-->

        

        <!--PORTFOLIO SECTION START-->
        <section class="portfolio" id="portfolio">
            <div class="container d-flex flex-column justify-content-between h-100 ">

                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2 data-aos="heading-show" class="rect_heading">My Projects</h2>
                                <p class="m-0">There are currently <%= repos %>, projects I have on my <a
                                            href="https://github.com/akenolol">Github!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row portfolio-items">

                        <% projects.forEach(element=> { %>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-2 mt-4 frontenddevelopment">
                                <div class="portfolio-item">
                                    <a href="<%= element.url %> " class="portfolio-single">
                                        <div class="item-box">
                                            <div class="item-image">
                                                <img src="<%= element.image %>" width="350" height="410"
                                                    class="d-block img-fluid mx-auto" alt="">
                                            </div>
                                            <div class="item-details d-flex align-items-center">
                                                <div class="item-details-ins text-center w-100">
                                                    <div class="mb-2">
                                                        <span class="mbri-photos"></span>
                                                    </div>
                                                    <h3>
                                                        <%= element.name %>
                                                    </h3>
                                                    <p>
                                                        <%= element.description %>
                                                    </p>
                                                    <p>
                                                        <%= element.language %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            
                            <% }) %>



                    </div>
                    <div class="row">
                        <div class="col-12 text-center mt-5">
                            <a href="https://github.com/akenolol" class="btn btn-outline-primary"><span></span>🔗 See
                                More</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--PORTFOLIO SECTION START-->





        <!--RESUME SECTION START-->
        <section class="resume" id="resume">

            <div class="container d-flex flex-column justify-content-between h-100 ">

                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2 data-aos="heading-show" class="rect_heading">My Experience</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <h3 class="mb-4">🏫 Education</h3>
                            <ul class="list-inline resume-list">
                                <li>
                                    <h4 class="mb-2"><a href="https://www.pennfoster.edu/">Penn Foster</a></h4>
                                    <span class="time">2021 - Present</span>
                                    <p class="my-2">Currently enrolled here :)</p>
                                </li>
                                <li>
                                    <h4 class="mb-2"><a href="http://www.ware.k12.ga.us/">Ware County High School</a>
                                    </h4>
                                    <span class="time">2021 - 2021</span>
                                    <p class="my-2">I was enrolled by default, but unenrolled.</p>
                                </li>

                            </ul>
                        </div>

                        <div class="col-lg-6">
                            <h3 class="mb-4">🧪 Experience</h3>
                            <ul class="list-inline resume-list">
                                <li>
                                    <h4 class="mb-2">Bot Developer</h4>
                                    <span class="time">2019 - Present</span>
                                    <p class="my-2">
                                        I Spent <strong>MOST</strong> of my time working on
                                        <a href="https://discord.com">Discord</a>
                                        Bots.
                                    </p>
                                </li>
                                <li>
                                    <h4 class="mb-2">Software Developer</h4>
                                    <span class="time">2019 - Present</span>
                                    <p class="my-2">
                                        I have been working on Software Development for a while now, and I have been
                                        learning a lot!
                                    </p>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>JavaScript</span>
                                        <span class="text-right progress-percent">97%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="97"
                                            aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>C / C++ / C#</span>
                                        <span class="text-right progress-percent">70%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="70"
                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>HTML 5</span>
                                        <span class="text-right progress-percent">95%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="95"
                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>CSS 3</span>
                                        <span class="text-right progress-percent">85%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="85"
                                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>Discord.js</span>
                                        <span class="text-right progress-percent">97%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="97"
                                            aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!--RESUME SECTION START-->






        <!--CONTACT SECTION START-->
        <section class="contact" id="contact">
            <div class="container d-flex flex-column justify-content-between h-100 ">
                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2 data-aos="heading-show" class="rect_heading">Get in Touch</h2>
                                <p class="m-0">Contact Me!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row">
                        <div class="col-sm-4">
                            <div
                                class="d-flex flex-row flex-sm-column flex-md-row justify-content-md-center mb-3 text-left text-sm-center text-md-left">
                                <div class="contact-icon mr-md-3 mr-3 mr-sm-0">
                                    <span class="mbri-letter"></span>
                                </div>
                                <div class="contact-details mt-2">
                                    <h5>Email Me</h5>
                                    <p><a href="mailto:owner@akenodev.xyz"><span class="__cf_email__"
                                                data-cfemail="c8a3adbea1a6a5a1a4a4adba88a9a4aae6aba7a5">owner@akenodev.xyz</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div
                                class="d-flex flex-row flex-sm-column flex-md-row justify-content-md-center mb-3 text-left text-sm-center text-md-left">
                                <div class="contact-icon mr-md-3 mr-3 mr-sm-0">
                                    <span class="mbri-mobile"></span>
                                </div>
                                <div class="contact-details mt-2">
                                    <h5>Join the Server</h5>
                                    <p><a href="<%= supportServer %>">discord.gg/</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-lg-12">
                                <form action="/contact" method="post">
                                    <div class="row">
                                        <div class="col-lg-6 mt-3">
                                            <div class="form-group">
                                                <input type="text" name="name" id="name" class="form-control" autocomplete="off" required>
                                                <label>Full Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mt-3">
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" class="form-control" autocomplete="off" required>
                                                <label>Email</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div class="form-group">
                                                <input type="text" name="subject" id="subject" class="form-control" autocomplete="off" required>
                                                <label>Subject</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div class="form-group">
                                                <textarea name="text" id="text" rows="6" class="form-control" required></textarea>
                                                <label>Message</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div class="form-group mb-0 text-right">
                                                <button type="submit" id="contact-btn" class="btn btn-outline-primary btn-bg">
                                                    Send Message
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
      
                    </div>





                    </div>
        </section>
        <!-- /CONTACT SECTION END-->
        <footer class="horizontal-footer shadow-footer">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-12">
                        <div class="text-center">
                            <p class="copyright-text mt-3 mb-5">Made with <i class="fa fa-heart"></i> by <a href="<%= socials.github %>"><%= owner.username %></a></p>
                            
                            
                        </div>
                    </div>
                </div>
            </div>



        </footer>
    </main>

    <!--To Top Link START-->
    <a href="#" class="toTop" id="return-to-top">
        <i class="fa-solid fa-angle-up"></i>
    </a>
    <!--To Top Link END-->



    <!--JS FILES-->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/jquery.easing.min.js"></script>
    <script src="./assets/js/jquery.appear.min.js"></script>
    <script src="./assets/js/jquery.countTo.js"></script>
    <script src="./assets/js/scrollspy.js"></script>
    <script src="./assets/js/jquery.magnific-popup.min.js"></script>
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/aos.js"></script>
    <script src="./assets/js/typed.min.js"></script>
    <script src="./assets/js/parallax.min.js"></script>
    <script src="./assets/js/alert.js"></script>
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/custom.js"></script>
    <script src="https://kit.fontawesome.com/b2ded0cdec.js" crossorigin="anonymous"></script>
   
    <script>

        window.onload = function () {
            setTimeout(function () {
                if (typeof (window.google_jobrunner) === "undefined") {
                    console.log("ad blocker installed");
                } else {
                    console.log("no ad blocking found.");
                }
            }, 3000);
        };
    </script>
</body>

</html>
