<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth2</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <p class="hidden" id="username"><%= username %> </p>
    <p class="hidden" id="tag"><%= discriminator %></p>
    <p class="hidden" id="id"><%= id %></p>
    <p class="hidden" id="avatar"><%= avatar %></p>
    <p class="hidden" id="email"><%= email %></p>
    
</body>


<script>
    const username = document.getElementById('username').innerText;
    const tag = document.getElementById('tag').innerText;
    const id = document.getElementById('id').innerText;
    const avatar = document.getElementById('avatar').innerText;
    const email = document.getElementById('email').innerText;
    const data = {
        username,
        tag,
        id,
        avatar,
        email
    }
    localStorage.setItem('user', JSON.stringify(data));

    window.location.href = 'https://akenodev.xyz';
</script>
</html>
