---
---


<section class="featured-projects-section section mx-auto">
    <h3 class="section-heading mb-4">Featured Projects</h3>
    <div class="section-intro mb-5 limit-max-width mx-auto text-md-center">My main experience is in the field of software development. Here are some of the projects I've worked on.</div>
    <div class="featured-project-list container">
        <div class="row justify-content-center gy-4" id="featured-projects">
            
            
        </div>
        <div class="section-cta text-center mt-3">
            <a class="btn btn-secondary theme-btn-cta" href="/projects">More Projects<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
        </div>
    </div>
</section>

<script is:inline>
    const ProjectUrl = "https://storage.hylia.dev/json/projects";

    (async () => {
        const projects = await fetch(ProjectUrl).then((res) => res.json());

        const threeRandomProjects = projects.sort(() => 0.5 - Math.random()).slice(0, 3);

        function TruncateProjectDescription(description) {
            if (description.length > 100) {
                return description.substring(0, 100) + "...";
            } else {
                return description;
            }
        }

        threeRandomProjects.forEach((project) => {
            document.getElementById("featured-projects").innerHTML += `<div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="${project.image}" class="card-img-top" alt="Project" style="height: 86px; width: 86px; margin-left: auto; margin-right: auto;">
                    <div class="card-body px-0">
                        <h5 class="card-title"><a href="${project.url}">${project.name}</a></h5>
                        <p class="card-text mb-1" style="color: #d7dde9;">${TruncateProjectDescription(project.description)}</p>
                        <div><a class="card-link more-link" href="${project.url}">View Project <span class="link-arrow"><i class="bi bi-arrow-right"></i></span></a></div>
                    </div>
                </div>
            </div>`;
        })
    })()
</script>