---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import CTA from "../components/CTA.astro";
---

<Layout
  title="withervt • Resume"
  description="Hello, I’m Stella, a developer specializing in creating Discord bots and open-source tools. Additionally, I identify as a TransFemale, using She/Her pronouns."
>
  <div id="snackbar" class="snackbar d-none"></div>
  <div class="main-content-wrapper">
    <div class="container-fluid">
      <div class="top-bar text-center position-relative">
        <div class="top-bar-inner">
          <a
            class="menu-toggler"
            data-bs-toggle="offcanvas"
            href="#offcanvasNavbar"
            role="button"
            aria-controls="offcanvasNavbar"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
              ></path>
            </svg>
          </a>

          <div class="mode-toggle text-center">
            <input class="toggle" id="darkmode" type="checkbox" />
            <label class="toggle-btn mx-auto mb-0" for="darkmode">
              <span class="day-icon toggle-icon">
                <i class="bi bi-sun-fill"></i></span
              >
              <span class="night-icon toggle-icon"
                ><i class="bi bi-moon-fill"></i></span
              >
            </label>
          </div>

          <a class="btn btn-primary top-bar-cta" href="mailto:dev@hylia.dev"
            >Hire Me</a
          >

          <ul class="social-list list-inline mx-auto d-none d-lg-block">
            <Socials
              classes="list-inline-item me-0 me-md-1 me-lg-2"
              allowColors={true}
            />
          </ul>
        </div>
      </div>
      <div class="resume-wrapper mx-auto rounded-2">
        <div class="resume-header px-4 px-lg-5">
          <div class="resume-profile-holder text-center">
            <img loading="lazy" class="resume-profile-pic rounded-circle" src="https://storage.hylia.dev/images/.old/47033415ef4841d627d49d05058324e8.jpg" alt="image" loading="lazy">
            
            <h2 class="resume-name text-uppercase">Stella • withervt</h2>
            <div class="resume-role-title text-uppercase">Senior Developer | Vtuber | Streamer</div>
            <div class="resume-contact mt-4">
              <ul class="resume-contact-list list-unstyled list-inline mb-0 justify-content-between">
                <li class="list-inline-item me-md-3 me-lg-5"><i class="resume-contact-icon bi bi-envelope me-2"></i> dev@hylia.dev</li>
                <li class="list-inline-item me-lg-5"><i class="resume-contact-icon bi bi-globe me-2"></i> https://hylia.dev</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="resume-body p-4 p-lg-5">
          <div class="row">
            <div class="col-main col-12 col-lg-8 pe-lg-4">
              <section class="resume-summary-section resume-section">
                <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3"><i class="resume-section-heading-icon bi bi-person me-2"></i>About Me</h3>
                <div class="resume-summary-desc">
                  Hello, I’m Stella, a developer specializing in creating Discord bots and open-source tools. Additionally, I identify as a TransFemale, using She/Her pronouns.
                </div>
              </section>
              
              <hr>
              
              <section class="resume-experience-section resume-section">
                <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-briefcase me-2"></i>Work Experience</h3>
                <div class="resume-timeline position-relative" id="timeline">
                   
                      </div>
              </section>
            </div>
            <div class="col-12 col-lg-4 ps-lg-4">
              
              <section class="resume-skills-section resume-section">
                <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-gear me-2"></i>Tech Stack</h3>
                
                <ul class="list-unstyled" id="tech-stack">
                   
          

                  </ul>
                
              </section>
              
              <hr>
              
              <section class="resume-skills-section resume-section">
                <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-person-gear me-2"></i>Skills</h3>
                <ul class="list-inline" id="skills_list">
                                       
                </ul>
              </section>
              
              <hr>
              
              <section class="resume-educate-section resume-section">
                <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-book me-2"></i>Education</h3>
                <ul class="list-unstyled" id="education">
                    
                  </ul>
              </section>
              
              <hr>
              
              <section class="resume-lang-section resume-section">
                <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-translate me-2"></i>Languages</h3>
                 <ul class="list-unstyled resume-lang-list">
                    <li class="mb-2">
                        <div class="resume-lang-name">English</div>
                        <div class="resume-level-indicator row gx-0 flex-nowrap">
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                        </div>
                    </li>
                     <li class="mb-2">
                        <div class="resume-lang-name">Polish</div>
                        <div class="resume-level-indicator row gx-0 flex-nowrap">
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-full"></span></div>
                          <div class="col"><span class="item item-half"></span></div>
                          <div class="col"><span class="item"></span></div>
                          <div class="col"><span class="item"></span></div>
                          <div class="col"><span class="item"></span></div>
                          <div class="col"><span class="item"></span></div>
                        </div>
                    </li>

                    <li class="mb-2">
                      <div class="resume-lang-name">Japanese</div>
                      <div class="resume-level-indicator row gx-0 flex-nowrap">
                        <div class="col"><span class="item item-full"></span></div>
                        <div class="col"><span class="item item-full"></span></div>
                        <div class="col"><span class="item item-full"></span></div>
                        <div class="col"><span class="item item-half"></span></div>
                        <div class="col"><span class="item"></span></div>
                        <div class="col"><span class="item"></span></div>
                        <div class="col"><span class="item"></span></div>
                        <div class="col"><span class="item"></span></div>
                        <div class="col"><span class="item"></span></div>
                      </div>
                  </li>
                </ul>
              </section>
              
              
              
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>


</div>
</Layout>

<script is:inline>
const WorkUrl = "https://storage.hylia.dev/json/work";
const TechnologyUrl = "https://storage.hylia.dev/json/tech_stack";
const SkillUrl = "https://storage.hylia.dev/json/skills";
const EducationUrl = "https://storage.hylia.dev/json/education";

(async () => {
    const work = await fetch(WorkUrl).then((res) => res.json());
    const technology = await fetch(TechnologyUrl).then((res) => res.json());
    const skills = await fetch(SkillUrl).then((res) => res.json());
    const education = await fetch(EducationUrl).then((res) => res.json());

    work.forEach(($) => {
        document.getElementById(
            "timeline"
        ).innerHTML += ` <article class="resume-timeline-item position-relative pb-5">
                      
                      <div class="resume-timeline-item-header mb-2">
                        
                        <div class="resume-position-meta d-flex justify-content-between mb-1">
                          <div class="resume-position-time">${$.date}</div>
                          <div class="resume-company-name">${$.company_name}</div>
                        </div>
                          <h3 class="resume-position-title mb-1">${$.position}</h3>

                      </div>
                      <div class="resume-timeline-item-desc">
                     
                       
                        <ul class="resume-timeline-list">
                          ${$.list.map(
                            (item) => `<li>${item}</li>`
                          ).join("")}
                        </ul>
                        
                      </div>

                    </article>`;
    });

    technology.forEach(($) => {
        document.getElementById(
            "tech-stack"
        ).innerHTML += ` <li class="mb-2">
                        <div class="resume-skill-name">${$.name}</div>
                  <div class="progress resume-progress" role="progressbar" aria-label="${$.name}" aria-valuenow="${$.progress}" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar resume-progress-bar" style="width: ${$.progress}%"></div>
                  </div>
                    </li>`;
    });

    skills.forEach((_) => {
        document.getElementById(
            "skills_list"
        ).innerHTML += `<li class="list-inline-item"><span class="badge resume-skill-badge">${_}</span></li>`
    });

    education.forEach((_) => {
        document.getElementById(
            "education"
        ).innerHTML += `<li class="mb-2">
                        <div class="resume-degree font-weight-bold">${_.degree}</div>
                        <div class="resume-degree-org">${_.org}</div>
                        <div class="resume-degree-time">${_.time}</div>
                    </li>`;
    })
  })();
</script>
