---

interface Button {
    text: string;
    link: string;
    icon: string;
}

interface Props {
    title: string;
    description: string;
    button: Button;
}

const { title, description, button } = Astro.props;
---


<section class="leadgen-section section mx-auto">

    <h3 class="section-heading text-start text-md-center text-highlight">{title}</h3>
    <div class="intro text-md-center">{description}</div>
     <div class="text-center mt-4">
                 <a class="btn btn-secondary" href={button.link}>{button.text} <i style="width: 24px; height: 24px;" class={button.icon}></i></a>
     </div>
 
</section>