---

interface Link {
    text: string;
    href: string;
    active?: boolean;
}


interface Props {
    liClass?: string;
    aClass?: string;
    links: Link[];
    aStyles?: string;
}

const { liClass, aClass, links, aStyles } = Astro.props;
---

{
    links.map((link: any) => (
        <li class={`${liClass}`}>
            <a class={`${aClass} ${link.active ? "active" : ""}`} style={aStyles} href={link.href}>{link.text}</a>
        </li>
    ))
}